<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
</head>
<body>
    <form action="" method="post"> {% csrf_token %}
        <p>Имя: <input type="text" name="first_name"/></p>
        <p>Фамилия: <input type="text" name="last_name"/></p>
        <p>Адрес электронной почты: <input type="text" name="e-mail"/></p>
        <p>Имя пользователя: <input type="text" name="user_name"/></p>
        <p></p>Пароль: <input type="password" name="password"/></p>
        <p>Пароль еще раз: <input type="password" name="password2"/></p>
        <p><input type="submit" value="Зарегистрировать нового пользователя"></p>
    </form>

</body>
</html>