{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="col-xs-4">
            <p><strong>Список Проектов</strong></p>
            <ul>
            {% for project in projects%}
                <li><a href="{% url 'project_page' project.id %}">{{project.title}}</a></li>
            {% endfor%}
            </ul>
        </div>
        <div class="col-xs-4">
            <p><strong>Список задач</strong></p>
            <ul>
            {% for item in tasks%}
                <li>{{item.title}},   {{item.due_date}}</li>
            {% endfor%}
            </ul>
        </div>
    </div>

{% endblock %}
