{% extends "base.html" %}

{% block content %}
   <div class="container">
        <div class="col-xs-6">
            <p><strong>Список Задач для проекта</strong></p>
            <table class="table">
                {% for task in task_list %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.task_type }}</td>
                        <td>{{ task.due_date }}</td>



                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>

{% endblock %}